@import "tailwindcss";

@theme {
    --color-lesson-purple: #a855f7;
    --color-lesson-purple-light: #f3e8ff;
    --color-lesson-blue: #3b82f6;
    --color-lesson-blue-light: #dbeafe;
    --color-lesson-green: #22c55e;
    --color-lesson-green-light: #dcfce7;
    --color-lesson-yellow: #eab308;
    --color-lesson-yellow-light: #fef9c3;
    --color-tech-primary: #6366f1;
    --color-tech-surface: #f8fafc;
    --color-tech-dark: #1e293b;
}